@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');


/* --------------------------- MAIN  --------------------------- */
.monteserat {
  font-family: 'Montserrat', sans-serif;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.text-xl {
  font-size: 2.5rem;
}

.text-lg {
  font-size: 2rem;
}

.text-md {
  font-size: 1.5rem;
}

.text-sm {
  font-size: 0.9rem;
}

.text-xs {
  font-size: 0.75rem;
}

.text-purple {
  color: #b010f0;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.bolder {
  font-weight: bolder;
}

.form-title {
  margin: 20px auto;
  margin-bottom: 30px;
  text-align: center;
  padding: 10px 10px;
  width: 200px;
  border-bottom: 4px #b010f0 solid;
}

.input-text {
  margin: 10px 5px;
  padding: 5px 10px;
  border: 2px #b010f0 solid;
  border-radius: 5px;
  width: 250px;
  transition: 0.2s;
}

.input-text:hover {
  border: 2px rgb(84, 23, 252) solid;
  transition: 0.2s;
}

.input-text:focus {
  border: 2px rgb(252, 248, 23) solid;
  transition: 0.2s;
}

.btn-submit {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  background: #b010f0;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  border: none;
  transition: 0.2s;
}

.btn-submit:hover {
  background: rgb(84, 23, 252);
  transition: 0.2s;
}


/* --------------------------- NAVIGATION  --------------------------- */
.cnav{
  background: #b010f0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.cnav-transparent {
  position: fixed;
  width: 100%;
}

.cnav-brand-icon {
  margin: 0;
  padding: 0;
  width: 45px;
  height: 45px;
}

.clink {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  padding: 10px;
  font-weight: bolder;
  transition: 0.2s;
}

.clink:hover {
  text-decoration: none;
  color: rgb(43, 43, 43);
  transition: 0.2s;
}


/* --------------------------- HOME  --------------------------- */
.home {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/home-background.jpg);
  background-position: center;
  background-size: cover;
}

.home-container {
  display: flex;
  flex-direction: row;
  padding: 100px;
}

.home-text-container {
  width: 60%;
}

.links {
  border: 1px #b010f0 solid; 
  background: rgba(176, 16, 240, 0.2);
  border-radius: 10px;
  padding: 25px;
}


/* --------------------------- REGISTER  --------------------------- */
.register {
  height: 100vh;
  position: relative;
  background: #b010f0;
}

.register div {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 300px;
  height: 400px;
  border-radius: 10px;
}


/* --------------------------- LOGIN  --------------------------- */
.login {
  height: 100vh;
  position: relative;
  background: #b010f0;
}

.login div {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 300px;
  height: 350px;
  border-radius: 10px;
}


/* --------------------------- PREDICT  --------------------------- */
.predict-container {
  height: 100vh;
  position: relative;
  background: rgb(235, 233, 233);
}

.predict {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.predict-input-container {
  background: rgba(176, 16, 240, 0.5);
  width: 50%;
  padding: 30px 20px;
  border-radius: 10px;
}

.predict-output-container {
  background: rgba(176, 16, 240, 0.5);
  width: 40%;
  padding: 30px 20px;
  border-radius: 10px;
}

.predict-input {
  display: block;
  margin: 20px 0;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}

.btn-predict {
  display: block;
  border: none;
  background: rgb(223, 12, 195);
  padding: 10px 20px;
  color: #fff;
  border-radius: 10px;
  transition: 0.2s;
}

.btn-predict:hover {
  background: rgb(19, 144, 216);
  transition: 0.2s;
}

.result-text {
  color: #fff;
  font-size: 3rem;

}


@media screen and (max-width: 768px) {
  .text-lg {
    font-size: 1.5rem;
  }

  .text-md {
    font-size: 1rem;
  }

  .home-text-container {
    margin: 0;
    width: 100%;
  }

  .predict-container {
    height: 140vh;
  }

  .predict {
    display: block;
    margin-top: 50px;
  }

  .predict-input-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .predict-output-container {
    width: 100%;
  }
}